.playlist-container {
  .content {
    display: grid;
    justify-content: center;
    audio,
    #playlist {
      width: 400px;
      padding: 15px;
      box-sizing: content-box;
    }
    #playlist {
      display: grid;
      max-height: 200px;
      overflow-y: auto;
      border: 1px solid #999;
      input {
        background: transparent;
        color: #999;
        padding: 5px;
        cursor: pointer;
        &.active,
        &:hover {
          color: #a07428;
        }
        &:not(:first-child) {
          border-top: 1px solid #999;
        }
      }
    }
  }
}
