.playlist-container {
  .content {
    display: grid;
    justify-content: center;
    audio,
    #playlist {
      width: 400px;
      padding: 15px;
      background: rgb(226, 225, 225);
      box-sizing: content-box;
    }
    #playlist {
      display: grid;
      padding-top: 0;
      max-height: 200px;
      overflow-y: auto;
      span {
        background: #fff;
        color: #999;
        padding: 5px;
        cursor: pointer;
        &.active,
        &:hover {
          color: #000;
        }
        &:not(:first-child) {
          border-top: 1px solid #999;
        }
      }
    }
  }
}
